#{extends 'main.html' /}
#{set title:'WeiqiTV :: Administration' /}
#{set page:'Gatherer' /}
#{set note:'WeiqiTV - Watching Weiqi like on TV (α-Status)' /}

Welcome ${user}!

<hr />

<a href="@{Admin.start}">start</a>
<a href="@{Admin.stop}">stop</a>
<a href="@{crud.Channels.index}">crud</a>
<a href="@{Admin.games}">games</a>

<hr />

#{form @Admin.toggle(option)}
  #{select 'option', items:gatherer.IgsOption.values() /}
  <input type="submit" value="toggle" />
#{/form}

<hr />
#{form @Admin.broadcast(message)}
  <input type="text" name="message" value="" />
  <input type="submit" value="broadcast" />
#{/form}
