#{extends 'main.html' /}
#{set title:'WeiqiTV :: Administration' /}
#{set page:'Gatherer' /}
#{set note:'WeiqiTV - Watching Weiqi like on TV (α-Status)' /}

Welcome ${user}!

<hr />

<div>
  <span>Gatherer</span>
  #{form @Admin.toggle(option)}
    #{select 'option', items:gatherer.IgsOption.values() /}
    <input type="submit" value="toggle" />
  #{/form}
</div>

<div>
  <span>Database</span>
  <a href="@{crud.Channels.index}">crud</a>
  <a href="@{Admin.games}">games</a>
</div>

<div>
  <span>Channel</span>
#{form @Admin.broadcast(message)}
  <input type="text" name="message" value="" />
  <input type="submit" value="broadcast" />
#{/form}
</div>
