#{extends 'main.html' /}
#{set title: channel.title /}
#{set page: channel.title /}
#{set note:'WeiqiTV - Watching Weiqi like on TV (α-Status)' /}

#{zapper channels: channels, actual: channel.number /}

%{
game = channel.game;
size = game.size.getLength();
handi = game.handicap.stones;
}%

<script type="text/javascript">

var player = 'black';
var other = 'white';

function viewPrisoner (coordinate) {
  // remove stone
  $('#' + coordinate).removeClass('white black').addClass('empty').empty();
  // update prisoner list of player
  var dl = $('#' + player + '_prisoners');
  dl.append('<dd></dd>');
  // update prisoner count
  var dt = $('#' + player + '_prisoner_count');
  var count = parseInt(dt.text());
  dt.text(count + 1);
}

function updateTime() {
  var time = $('#' + other + '_time').text();
  $('#' + other + '_time').empty().append(parseInt(time) - 1);
//  alert("other " + other);
}

$(document).ready(function() {
  setInterval(updateTime, 1000);
  // event socket callback
  var display = function(event) {
    $('#commentList').prepend('<li class="igs">' + event + '</li>');
    eval("e = " + event);
    switch(e.type) {
      case "move":
        player = e.player.toLowerCase();
        other = player == 'black' ? 'white' : 'black';
        // replace last move
        $('.' + other + 'last').removeClass(other + 'last').addClass(other);
        // show stone and number
        $('#' + e.coordinate).removeClass('empty black white ko')
          .addClass(player + 'last').empty();
        // remove prisoners
        $.each(e.prisoners, function(key, val) {
            viewPrisoner(val);
        });
        // set player infos
        $('#' + player + '_time').empty().append(e.time);
        $('#' + player + '_byo').empty().append(e.byo);
        // set game info
        $('#turn').empty().append(e.coordinate);
        break;
      case "message":
        // show broadcast or result
        $('#result').empty().append(e.message).css('visibility','visible');
        break;
      case "next":
        // black the whole view for next game
        $('table tr td div').removeClass('empty black white ko').addClass('empty');
        $('#result').empty().css('visibility','hidden');

        $('#game').empty().append(e.game);
        $('#turn').empty().append(e.turn);
        $('#white_name').empty().append(e.white);
        $('#white_time').empty().append(e.wTime);
        $('#white_prisoner_count').empty().append(0);
        $('#white_prisoner dd').remove();
        $('#black_name').empty().append(e.black);
        $('#black_time').empty().append(e.wTime);
        $('#black_prisoner_count').empty().append(0);
        $('#black_prisoner dd').remove();

        $('#handicap').empty().append(e.handicap);
        $('#byo').empty().append(e.byo);
        $('#komi').empty().append(e.komi);
        break;
      default:
        alert("unknown socket event " + event)
        break;
    }
  }

  // create web socket
  var socket = new WebSocket('@@{ChannelSocket.stream(channel.number)}');
  socket.onmessage = function(event) { display(event.data); }

  // initialize board
  var listAction = #{jsAction @listTurns(':game') /}
  $.getJSON(listAction({game: '${game.id}'}), function(data) {
    $.each(data, function(key, move) {
      var player = move.player.toLowerCase();
      // set actual move
      $("#" + move.coordinate).removeClass('empty').addClass(player);
      // blank prisoners
      if(move.prisoners && move.prisoners.length) {
        for(var i=0,len=move.prisoners.length; prisoner=move.prisoners[i], i<len; i++) {
          viewPrisoner(prisoner.coordinate);
        }
      }
    });
  });
});

</script>

<!--Channel-->
<div id="channel">

<table>
<caption><span id="game">${game}</span> <span id="turn">H ${game.handicap}</span></caption>
#{board/head size /}
#{list items: (size == 19 ? 19..1 : (size == 13 ? 13..1 : 9..1)), as:'nr'}
<tr class="${nr_isFirst ? 'first' : (nr_isLast ? 'last' : '')}">
  <th>${nr}</th>
  <td class="${nr_isFirst ? 'blanktl' : (nr_isLast ? 'blankbl' : 'blankl')}">
    <div id="A${nr}" class="empty"></div>
  </td>
  <td class="blank">
    <div id="B${nr}" class="empty"></div>
  </td>
  <td class="${size == 9 && (nr == 3 || nr == 7) ? 'hoshi' : 'blank'}">
    <div id="C${nr}" class="empty"></div>
  </td>
  <td class="${size != 9 && (nr == 4 || nr == 10 || nr == 16) ? 'hoshi' : 'blank'}">
    <div id="D${nr}" class=empty"></div>
  </td>
  <td class="blank">
    <div id="E${nr}" class="empty"></div>
  </td>
  <td class="blank">
    <div id="F${nr}" class="empty"></div>
  </td>
  <td class="${((size == 9 && (nr == 3 || nr == 7)) || (size == 13 && nr == 7)) ? 'hoshi' : 'blank'}">
    <div id="G${nr}" class="empty"></div>
  </td>
  <td class="blank">
    <div id="H${nr}" class="empty"></div>
  </td>
#{if size == 9}
  <td class="${nr_isFirst ? 'blanktr' : (nr_isLast ? 'blankbr' : 'blankr')}">
    <div id="J${nr}" class="empty"></div>
  </td>
#{/if}
#{if size > 9}
  <td class="blank">
    <div id="J${nr}" class="empty"></div>
  </td>
  <td class="${nr == 4 || nr == 10 || nr == 16 ? 'hoshi' : 'blank'}">
    <div id="K${nr}" class="emtpy"></div>
  </td>
  <td class="blank">
    <div id="L${nr}" class="empty"></div>
  </td>
  <td class="blank">
    <div id="M${nr}" class="empty"></div>
  </td>
#{if size == 13}
  <td class="${nr_isFirst ? 'blanktr' : (nr_isLast ? 'blankbr' : 'blankr')}">
    <div id="N${nr}" class="empty"></div>
  </td>
#{/if}
#{if size > 13}
  <td class="blank">
    <div id="N${nr}" class="empty"></div>
  </td>
  <td class="blank">
    <div id="O${nr}" class="empty"></div>
  </td>
  <td class="blank">
    <div id="P${nr}" class="empty"></div>
  </td>
  <td class="${nr == 4 || nr == 10 || nr == 16 ? 'hoshi' : 'blank'}">
    <div id="Q${nr}" class="empty"></div>
  </td>
  <td class="blank">
    <div id="R${nr}" class="empty"></div>
  </td>
  <td class="blank">
    <div id="S${nr}" class="empty"></div>
  </td>
#{/if}
#{if size == 19}
  <td class="${nr_isFirst ? 'blanktr' : (nr_isLast ? 'blankbr' : 'blankr')}">
    <div id="T${nr}" class="empty"></div>
  </td>
#{/if}
#{/if}
  <th>${nr}</th>
</tr>
#{/list}
#{board/head size /}
</table>

<!--result -->
<div id="result">
<p>$player wins!<br />
$results</p>
</div>
<!--/Game result-->

</div>
<!--/Channel-->

<!--Channeldata-->
<div id="channeldata">

<!--Data-->
<div id="data">

<!--Data for White-->

<div id="white">
<h3 id="white_name">${channel.game.white}</h3>
<ul>
 <li id="white_time">0</li>
 <li id="white_byo">${game.byo}</li>
 <li><dl id="white_prisoners"><dt  id="white_prisoner_count">0</dt></dl></li>
</ul>
</div>
<!--/Data for White-->

<!--Data for Black-->
<div id="black">
<h3 id="black_name">${channel.game.black}</h3>
<ul>
 <li id="black_time">0</li>
 <li id="black_byo">${game.byo}</li>
 <li><dl id="black_prisoners"><dt id="black_prisoner_count">0</dt></dl></li>
</ul>
</div>
<!--/Data for Black-->

<p>
Komi: <span id="komi">${game.komi}</span><br />
Handicap: <span id="handicap">${game.handicap}</span><br />
Byo: <span id="byo">${game.byo}</span><br />
ranked: <a href="@@{Admin.observe(channel.number, game.onlineId)}">${game.onlineId}</a>
</p>
</div>
<!--/Data-->

#{if role == 'admin'}
<!--Admin-->
<div id="admin">
<h3>Admin panel</h3>
<div id="panel">
<ul>
 <li><a href="">Play</a></li>
 <li><a href="">Pause</a></li>
 <li><a href="@@{Admin.next(channel.number)}">Next Game</a></li>
</ul>
</div>
</div>
<!--/Admin-->
#{/if}
<!--Chat-->
<div id="chat">
<h3>Game comments</h3>
<div id="comments">
<ul id="commentList">
 <li class="igs">1. Text vom IGS-User</li>
 <li class="igs">2. Text vom IGS-User</li>
 <li class="wqtv">1. Text vom WeiqiTV-User</li>
 <li class="igs">3. Text vom IGS-User</li>
 <li class="wqtv">2. Text vom WeiqiTV-User</li>
</ul>
</div>
<form action="" method="get" enctype="text/plain" accept-charset="ISO-8859-1">
<fieldset>
 <p><label for="input">Your Comment:</label>
    <textarea id="input" name="input" rows="1" cols="30"></textarea></p>
</fieldset>
</form>
</div>

<!--/Chat-->

</div>
<!--/Channeldata-->
