<!--Zapper-->
<div id="zapper">
  <ul>
    <li><a name="info"><abbr title="Info">i</abbr></a>
      <ul>
        <li class="branding">0: preview</li>
        <li class="branding">1-9: channel</li>
%{pos = '';}%
#{list items:_channels, as:'c'}
        <li class="${pos}">
#{if c.number == _actual}
          <span>${c.number}</span>
#{/if}
#{else}
          <a href="@{WeiqiTV.watch(c.number)}" title="${c.title}">${c.number}</a>
#{/else}
        </li>
%{if(pos == '') { pos = 'second';} else if (pos == 'third') {pos = '';} else {pos = 'third';} }%
#{/list}
        <li>&nbsp;</li>

        <li class="second">
          <a href="#" title="zap to ?">&#8657;</a>
        </li>
        <li class="third">&nbsp;</li>
        <li>
          <a href="#" title="zap to ?">&#8656;</a>
        </li>
        <li class="second">
#{if _actual == '0'}
          <span>0</span>
#{/if}
#{else}
          <a href="@{WeiqiTV.index()}" title="Preview">0</a>
#{/else}
        </li>
        <li class="third">
          <a href="#" title="zap to ?">&#8658;</a>
        </li>
        <li>&nbsp;</li>
        <li class="second">
          <a href="#" title="zap to ?">&#8659;</a>
        </li>
        <li class="third">&nbsp;</li>
        <li>&nbsp;</li>
        <li class="branding">WeiqiTV</li>
      </ul>
    </li>
  </ul>
</div>
<!--/Zapper-->
