#{extends 'main.html' /}
#{set title: channel.title /}
#{set page: channel.title /}
#{set note:'WeiqiTV - Watching Weiqi like on TV (α-Status)' /}

#{if flash.error}
<p style="color: #c00">${flash.error}</p>
#{/if}

<!--Channel-->
<div id="channel">

<table>
<caption>${channel.game} ${channel.game.size}</caption>

<tr>
  <th></th>

  #{list items: 'A'..'H', as:'letter'}
    <th>${letter}</th>
  #{/list}

  <th>J</th>

  #{if channel.game.size > models.Size.s9x9}
    #{list items: 'K'..'N', as:'letter'}
      <th>${letter}</th>
    #{/list}
  #{/if}

  #{if channel.game.size > models.Size.s13x13}
    #{list items: 'O'..'T', as:'letter'}
      <th>${letter}</th>
    #{/list}
  #{/if}

  <th></th>
</tr>

#{list items: (channel.game.size == models.Size.s19x19 ? 19..1 : (channel.game.size == models.Size.s13x13 ? 13..1 : 9..1)), as:'number'}

<tr class="${number_isFirst ? 'first' : (number_isLast ? 'last' : '')}">
  <th>${number}</th>
  
  <td class="${number_isFirst ? 'blanktl' : (number_isLast ? 'blankbl' : 'blankl')}">
    <div id="A${number}" class="empty"></div>
  </td>

  <td class="blank">
    <div id="B${number}" class="empty"></div>
  </td>

  <td class="${channel.game.size == models.Size.s9x9 && (number == 3 || number == 7) ? 'hoshi' : 'blank'}">
    <div id="C${number}" class="empty"></div>
  </td>

  <td class="${channel.game.size != models.Size.s9x9 && (number == 4 || number == 10 || number == 16) ? 'hoshi' : 'blank'}">
    <div id="D${number}" class="empty"></div>
  </td>

  <td class="blank">
    <div id="E${number}" class="empty"></div>
  </td>
  <td class="blank">
    <div id="F${number}" class="empty"></div>
  </td>

  <td class="${((channel.game.size == models.Size.s9x9 && (number == 3 || number == 7)) || (channel.game.size == models.Size.s13x13 && number == 7)) ? 'hoshi' : 'blank'}">
    <div id="G${number}" class="empty"></div>
  </td>
  <td class="blank">
    <div id="H${number}" class="empty"></div>
  </td>

  #{if channel.game.size == models.Size.s9x9}
  <td class="${number_isFirst ? 'blanktr' : (number_isLast ? 'blankbr' : 'blankr')}">
    <div id="J${number}" class="empty"></div>
  </td>
  #{/if}

  #{if channel.game.size > models.Size.s9x9}
    <td class="blank">
      <div id="J${number}" class="empty"></div>
    </td>
    <td class="${number == 4 || number == 10 || number == 16 ? 'hoshi' : 'blank'}">
      <div id="K${number}" class="empty"></div>
    </td>
    <td class="blank">
      <div id="L${number}" class="empty"></div>
    </td>
    <td class="blank">
      <div id="M${number}" class="empty"></div>
    </td>

    #{if channel.game.size == models.Size.s13x13}
      <td class="${number_isFirst ? 'blanktr' : (number_isLast ? 'blankbr' : 'blankr')}">
        <div id="N${number}" class="empty"></div>
      </td>
    #{/if}

    #{if channel.game.size > models.Size.s13x13}
      <td class="blank">
        <div id="N${number}" class="empty"></div>
      </td>
      <td class="blank">
        <div id="O${number}" class="empty"></div>
      </td>
      <td class="blank">
        <div id="P${number}" class="empty"></div>
      </td>
      <td class="${number == 4 || number == 10 || number == 16 ? 'hoshi' : 'blank'}">
        <div id="Q${number}" class="empty"></div>
      </td>
      <td class="blank">
        <div id="R${number}" class="empty"></div>
      </td>
      <td class="blank">
        <div id="S${number}" class="empty"></div>
      </td>
    #{/if}
  
    #{if channel.game.size == models.Size.s19x19}
      <td class="${number_isFirst ? 'blanktr' : (number_isLast ? 'blankbr' : 'blankr')}">
        <div id="T${number}" class="empty"></div>
      </td>
    #{/if}

  #{/if}

  <th>${number}</th>
</tr>
#{/list}

</table>
</div>
<!--/Channel-->

<!--Channeldata-->
<div id="channeldata">

<!--Data-->
<div id="data">

<!--Data for White-->

<div id="white">
<h3>${channel.game.white}</h3>
<ul>
 <li>$whitetime</li>
 <li><dl>
      <dt>$whiteprisoners</dt>
        <dd class="first">1</dd>

        <dd>2</dd>
        <dd>3</dd>
        <dd>4</dd>
        <dd>5</dd>
      </dl></li>
</ul>
</div>
<!--/Data for White-->

<!--Data for Black-->
<div id="black">
<h3>${channel.game.black}</h3>
<ul>
 <li>$blacktime</li>
 <li><dl>
      <dt>$blackprisoners</dt>

        <dd class="first">1</dd>
        <dd>2</dd>
        <dd>3</dd>
        <dd>4</dd>
        <dd>5</dd>
      </dl></li>

</ul>
</div>
<!--/Data for Black-->

<p>Komi: ${channel.game.komi}<br />
Byo: $byo<br />
frei / gewertet</p>
</div>
<!--/Data-->

<!--Chat-->
<div id="chat">
<h3>$chattitle</h3>

<form action="" method="get" enctype="text/plain" accept-charset="ISO-8859-1">
<fieldset>
 <p><label for="output">Dialog:</label>
    <textarea id="output" name="output" rows="5" cols="30" readonly="readonly" disabled="disabled"></textarea></p>
 <p><label for="input">Your Comment:</label>
    <textarea id="input" name="input" rows="1" cols="30"></textarea></p>
</fieldset>
</form>
</div>

<!--/Chat-->

</div>
<!--/Channeldata-->
