<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>

<title>#{get 'title' /}</title>

<meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}" />
<meta name="author" content="dagnu" />
<meta name="description" content="WeiqiTV: Go, Baduk, Weiqi - on TV" />
<meta name="publisher" content="dagnu" />
<meta name="copyright" content="dagnu" />
<meta name="content-language" content="de" />
<meta name="language" content="de" />
<meta name="robots" content="NOINDEX,NOFOLLOW" />
<meta name="title" content="${title}" />

<link rel="stylesheet" type="text/css" media="handheld, only screen and (max-device-width: 480px)" href="@{'/public/stylesheets/mobile.css'}" />
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/screen.css'}" />
<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />

#{get 'moreStyles' /}
<script src="@{'/public/javascripts/jquery-1.6.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{get 'moreScripts' /}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24171413-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body>
  <h1>
    <a href="@{WeiqiTV.index}">${play.configuration.get("application.name")}</a>
#{if role == 'admin'}
    <a href="@{Admin.reset}">${play.mode}</a>
#{/if}
  </h1>
  
  <!--Login-->
  <p class="login">
#{if role.equals('watcher')}
    <a href="@{Secure.login}" title="Login to WeiqiTV">
      <img src="@{'/public/images/power-off.png'}" alt="Login" width="16" height="18" title="Login to WeiqiTV" />
    </a>
#{/if}
#{else}
    <a href="@{Secure.logout}" title="Logout from WeiqiTV">
      <img src="@{'/public/images/power-on.png'}" alt="Logout" width="16" height="18" title="Logout from WeiqiTV" />
    </a>
#{/else}
  </p>
  <!--/Login-->
  
  <!--main container-->
  <div id="main">
#{if role == 'admin'}
    <a href="@{Admin.index}"><h2>#{get 'page' /}</h2></a>
#{/if}
#{else}
    <h2>#{get 'page' /}</h2>
#{/else}

    <p id="note">#{get 'note' /}</p>

    <!--content container-->
    <div id="content">

      <div id="messages">
#{if flash.error}
        <p style="color: #c00">${flash.error}</p>
#{/if}
#{if flash.success}
        <p style="color: #cFF00">${flash.success}</p>
#{/if}
      </div>

      #{doLayout /}
    </div>
    <!--/content container-->

  </div>
  <!--/main container-->

  <!--footer container-->
  <div id="footer">
    <p>
      <code>tv.g2d.de</code>
      - <span lang="en" xml:lang="en">coded by</span> <a href="http://www.dagnu.de" title="zur Webseite von Danny Gräf [Link führt zu externer Seite]">dagnu</a>, <span lang="en"
        xml:lang="en">designed by</span> <a href="http://www.itib.de" title="zur Webseite von Christiane Müller [Link führt zu externer Seite]">kiskane</a>
    </p>
  </div>
  <!--/footer container-->

</body>
</html>